
@{
    ViewBag.Title = "CreatePeople";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create People</h2>

<form>
	<div id="nome-people-form">
		<p>Nome</p>
		<input id="nome-people-value" required />
	</div>

	<div id="telefone-people-form">
		<p>Telefone</p>
		<input id="telefone-people-value" required />
	</div>
</form>


<script src="~/Scripts/People/CreatePeople.js"></script>


